.sideBar
  .sideBar__groupList
    .sideBar__groupList__group
      group
    .sideBar__groupList__newComment
      新着メッセージはありません。
    .sideBar__groupList__group
      group
    .sideBar__groupList__newComment
      NoMessageNoMessageNoMessageNoMessageNoMessage
