%div.sideBar
  %div.sideBar__groupList
    %div.sideBar__groupList__group
      group
    %div.sideBar__groupList__newComment
      新着メッセージはありません。
    %div.sideBar__groupList__group
      group
    %div.sideBar__groupList__newComment
      NoMessageNoMessageNoMessageNoMessageNoMessage
