.sideBar
  .groupList
    .groupList__group
      group
    .groupList__newComment
      新着メッセージはありません。
    .groupList__group
      group
    .groupList__newComment
      NoMessageNoMessageNoMessageNoMessageNoMessage
