.sideBar {
  float: left;
  height: calc(100vh - 100px);
  width: 260px;
  padding: 0 20px;
  background-color: $sideNavyColor;
  word-wrap: break-word;
  &__groupList {
    color: $fontWhite;
    &__group {
      padding-top: 20px;
      padding-bottom: 5px;
      font-size: 15px;
    }
    &__newComment {
      padding-bottom: 20px;
      font-size: 11px;
    }
  }
}
