/* back-ground color */
$notificationBlueColor: #38AEF0;
$notificationOrangeColor: #F35500;
$headerNavyColor: #253141;
$headerWhiteColor: #FFFFFF;
$sideNavyColor: #2F3E51;
$mainGrayColor: #FAFAFA;
$formGrayColor: #DDDDDD;
$maskWhiteColor: #FFFFFF;

/* button color */
$whiteButton: #FFFFFF;
$blueButton: #38AEF0;

/* font color */
$fontWhite: #FFFFFF;
$fontGray: #999999;
$fontBlue: #38AEF0;
$fontBlack1: #333333;
$fontBlack2: #434A54;
