@import "./normalize";
@import "./reset";
@import "./variable";
@import "font-awesome";

.contents {
  height: 100vh;
}

.notification {
  line-height: 25px;
  width: 100vw;
  background-color: $notificationBlueColor;
  color: $fontWhite;
  text-align: center;
}

.fa-pencil-square-o {
  float: right;
  padding-right: 5px;
  padding-top: 44px;
  font-size: 14px;
}

.fa-cog {
  float: right;
  padding-top: 44px;
  font-size: 14px;
}

.header {
  height: 100px;
  width: 100vw;
  overflow: hidden;
  &__left {
    float: left;
    width: 260px;
    line-height: 100px;
    padding: 0 20px;
    background-color: $headerNavyColor;
    color: $fontWhite;
    font-size: 16px;
    font-weight: bold;
  }
  &__right {
    float: left;
    height: 100px;
    width: calc(100vw - 380px);
    padding: 0 40px;
    background-color: $headerWhiteColor;
    &__group {
      float: left;
      padding-top: 35px;
      padding-bottom: 15px;
      color: $fontBlack1;
      font-size: 20px;
    }
    &__button {
      float: right;
      line-height: 40px;
      margin-top: 28px;
    }
    &__member {
      clear: both;
      color: $fontGray;
      font-size: 12px;
    }
  }
}

.edit__button {
  display:block;
  line-height: 40px;
  padding: 0 20px;
  background-color: $whiteButton;
  color: $fontBlue;
  border: 1px solid $fontBlue;
  text-decoration: none;
}

.sideBar {
  float: left;
  height: calc(100vh - 100px);
  width: 260px;
  padding: 0 20px;
  background-color: $sideNavyColor;
  word-wrap: break-word;
  &__groupList {
    color: $fontWhite;
    &__group {
      padding-top: 20px;
      padding-bottom: 5px;
      font-size: 15px;
    }
    &__newComment {
      padding-bottom: 20px;
      font-size: 11px;
    }
  }
}

.main {
  height: calc(100vh - 190px);
  width: calc(100vw - 380px);
  margin-left: 300px;
  padding: 0 40px;
  background-color: $mainGrayColor;
  &__commentList {
    padding-top: 46px;
    &__name {
      float: left;
      padding-right: 10px;
      color: $fontBlack2;
      font-size: 16px;
      font-weight: bold;
    }
    &__postTime {
      color: $fontGray;
      font-size: 12px;
    }
    &__comment {
      padding-top: 10px;
      padding-bottom: 40px;
      color: $fontBlack2;
      font-size: 14px;
    }
  }
}

.form {
  float: left;
  height: 50px;
  width: calc(100vw - 380px);
  padding: 20px 40px;
  background-color: $formGrayColor;
  &__text {
    float: left;
  }
  &__mask {
    float: left;
    height: 50px;
    width: 32px;
    background-color: $maskWhiteColor;
    &__icon {
      line-height: 50px;
      font-size: 20px;
    }
  }
  &__button {
    float: right;
    height: 50px;
    margin-left: 15px;
  }
}

.comment__form {
  height: 50px;
  width: 902px;
  padding-left: 10px;
  color: $fontBlack2;
  font-size: 16px;
  border: none;
}

.far.fa-image {
  line-height: 50px;
  padding-right: 10px;
  font-size: 22px;
}

.send__button {
  display: block;
  line-height: 50px;
  padding: 0 30px;
  background-color: $blueButton;
  color: $fontWhite;
  text-decoration: none;
}

.hidden {
  display: none;
}
